body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
    flex:1;
}

.navbar{
    height:5rem;
    background-color: white;  
}

.fa-compass{
    color:#f2424d;
    font-size: 2rem;
}

.nav-link{
    color:#222222 !important;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color:#222222;
}

.f-info-links a:hover{
    text-decoration: underline;
    color:#222222;
}

.f-info-links, .f-info-socials , .f-info-brand{
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
     font-size: 1.2rem;
     margin-right:1rem ;
}

.f-info{
    text-align: center;
     height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* cards */
.listing-card{
    border: none !important;
    margin-bottom:2rem;
    
}

.card-img-top{
    border-radius:1rem !important ;
    width: 100% !important;
    object-fit:cover !important;
}

.card-body{
    padding: 0% !important;
}

.card-text{
      font-weight: 400 !important;
}

.Listing-link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* new page */
.add-btn{
    background-color: #f2424d !important;
    border: none !important;
}

/* edit page */
.edit-btn{
     background-color: #f2424d !important;
    border: none !important;
}

/* show page  */
.show-img{
    height: 30vh;
    border-radius:12px;
    object-fit: cover;
}

@media(max-width: 768px) {
  .show-img {
    max-height: 300px;
  }
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}


/* map styling show.ejs */
.map-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#map {
  height: 400px;
  width: 90%;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.map-error {
  text-align: center;
  color: red;
  font-weight: bold;
}


/* near by map */
#find-nearby-btn {
    border-radius: 20px;
    font-weight: 500;
  }
  #nearbyModal .modal-body {
    max-height: 400px;
    overflow-y: auto;
  }
  #nearbyModal .card {
    border-radius: 12px;
  }

.card-img-top{
    height: 20rem;
    object-fit: cover;
}